nav {
  height: 50px;
  background-color: lightgrey;
}

/* target the class of inline-block below */

.inline-block {
  display:inline-block; 
  padding: 15px;
}

/* target the class of .left below */
.left {
  height: 500px;
  float: left; 
  background-color: plum;
  width: 30%;
  text-align: center;
}
/* target the class of .right below */

.right {
  height: 500px;
  float: left;
  background-color: skyblue; 
  width: 70%;
  text-align: center;
}

.card {
  display:inline-block; 
  background-color: paleturquoise; 
  border-radius: 5px;
  height: 200px;
  width: 150px;
  margin: 35px;
  margin-top: 20px 20px 20px;
}

